@import "~bootstrap-reboot";
@import "~css-mqpacker-starter";
@import "fonts";
@import "util/nprogress";

html {
  font-size: 28px;
}
body {
  font-family: "fucken", "fuckru", "IndieFlower";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
}

input,
button,
textarea {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w-100 {
  width: 100%;
}

@include md {
  html {
    font-size: 22px;
  }
}
